.reviewPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewPage {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: #3c043e;
    border-radius: 25px;
    width: 90%;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 90%;

}

.reviewField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 25em;
    width: 90%;
    padding: 0.5em;
}

.backButton {
    float: left;
    width: 10%;
    margin-top: 1em;
}

.question {
    flex-grow: 1;
    font-size: 1em;
    margin-left: 1em;
}