.reviewPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviewPage {
    background-color: #3c043e;
    border-radius: 25px;
    width: 90%;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.reviewField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 25em;
    width: 85%;
    padding: 0.5em;
}

.backButton-review {
    z-index: 1;
    position: absolute;
    margin: 1em;
    cursor: pointer;

}

.question {
    flex-grow: 1;
    font-size: 100%;
    margin-left: 1em;
    float: left;
    width: 20%;
    text-align: left;
    padding-right: 2em;

}

.reviewResponseButtons {
    float: left;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reviewFormRating {
    padding-right: 3%;
}

.commentInput {
    width: 100%;
    padding-right: 3%;
}

.sendReviewButton {
    margin-top: 1.5em;
    color: #3c043e;
    background-color: white;
    padding-left: 4%;
    padding-right: 4%;
}

.sendReviewButton:hover {
    background-color: #A36E97;
    color: white;
}