:root {
  padding-top: 4em;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;

  color: #3c043d;
  background-color: #E9D5E7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #3c043d;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  font-weight: 700;
  background-color: #A36E97;
  color: #3c043e;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 4px 4px #00000040;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 4em;
  width: 100%;
  top: 0;
}