:root {
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;

  color: #3c043d;
  background-color: #E9D5E7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #A36E97;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 4px 4px #00000040;
}