.mostCommonReview {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    border-radius: 1em;
    background-color: #A36E97;
    box-shadow: 0px 4px 4px #00000040;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #3C043E;
    background-color: white;
    border-radius: 25em;
    text-align: left;
    margin: 0.5em;
    padding-left: 1.5em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    box-shadow: 0px 4px 4px #00000040;
}