@media screen and (max-width: 1200px) {
    .reviewContainer {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reviewContent {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review_col1 {
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .review_username {
        width: 100%;
        margin-bottom: 0.5em;
    }

}

.reviewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.review_username {
    background-color: #3c043e;
    color: white;
    border-radius: 25px;
    width: 10%;
    padding: 0.5em;
}

.reviewContent {
    background-color: #A36E97;
    border-radius: 25px;
    width: 85%;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: space-between;
    padding-top: 0.5em;
}

.review_col1 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left;
    min-width: 30%;
}

.review_rating {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 0.75em;
    float: left;
    width: 90%;
    padding-left: 1em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
}

.comment {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
    align-items: center;
    justify-content: center;
    float: left;
    width: 90%;
    height: 100%;
    margin-bottom: 0.5em;
}