@media screen and (max-width: 1000px) {
    .subjectPageContainer .title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 88%;
        background-color: #D2ACCF;
        padding-left: 2em;
        padding-right: 2em;
        border-radius: 25px;
        text-align: left;
        font-size: 0.8em;
        font-weight: 1000;
        font-style: italic;
        box-shadow: 0px 4px 4px #00000040;
    }

    .subjectPageContainer .subjectInfo {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .teacher {
        width: 80%;
    }

}

.backButton {
    color: #3c043e;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    top: 10%;
    left: 1%;
}

.subjectPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.subjectPageContainer .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #D2ACCF;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 25px;
    text-align: left;
    font-size: 0.8em;
    font-weight: 1000;
    font-style: italic;
    box-shadow: 0px 4px 4px #00000040;
}

.subjectInfo {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.summary {
    background-color: white;
    border-radius: 25px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    line-height: 1.8em;
    margin-right: 2em;
    text-align: justify;
    text-justify: inter-word;
}

.teacher {
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.teacherPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    margin-right: 0em;
    background-color: #3c043e;
    color: white;
    border-radius: 25px;
    padding: 0.5em;
    font-size: 150%;
}

.teacherPhoto img {
    border-radius: 25px;
    margin-bottom: 0.5em;
    object-fit: fill;
}

.teacherPageLink {
    background-color: #3c043e;
    color: white;
    border-radius: 25em;
    padding: 0.5em;
    width: 90%;
}

.answers {
    flex-wrap: wrap;
    width: 90%;
    max-width: 1500px;
    margin-bottom: 2em;
    margin-top: 1em;
}

.noReviewCase {
    background-color: #A36E97;
    border-radius: 25px;
    padding: 1.5em;
    margin-top: 1em;
}

.users_reviews {
    width: 90%;
}

.subjectPageContainer button {
    background-color: #3c043e;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 2em;
}