.text-input {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c043e;
}

.input-text {

    color: #3c043e;
    border: none;
    height: 58px;
    left: 0;
    position: absolute;
    font-size: 25px;
    top: 30px;
    width: 593px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
}

.input-icon {
    display: flex;
}