.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 2em 0;
    background-color: #D2ACCF;
    border-radius: 25px;
}

.form-wrapper h1 {
    margin-bottom: 0.5em;
    font-style: italic;
}

.form-wrapper h3 {
    text-align: left;
    font-size: 1em;
    margin: 0.5em 0;
    padding-left: 1em;
}

.form-wrapper form {
    align-items: left;
    justify-content: left;
    width: 85%;
}

.form-wrapper button {
    width: 33%;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    color: #3c043e;
    padding: 0.6em 1.2em;
}

input {
    width: 100%;
    margin: 0em 1;
}

.form-wrapper a {
    padding-top: 5%;
    color: #3c043e;
    font-weight: bold;
    text-decoration: underline;
}

.form-wrapper a:hover {
    transition: 0.1s;
    color: #3c043e;
}